body {
  position: absolute;
  z-index: 20000;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
}

.map-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  min-width: 50vw;
  align-content: center;
}

/* Estilos para el mapa de la universidad */
.map-container img {
  width: 50vw;
  margin: auto;
  align-items: center;
}
